name = "rocha-brindes"
compatibility_date = "2024-12-05"
pages_build_output_dir = "./dist"

[[d1_databases]]
binding = "DB"
database_name = "rocha-brindes-db"
database_id = "642b162f-746c-4851-a32e-fce92cb9b822"

# Ambiente de desenvolvimento (pages dev)
[env.dev]
[[env.dev.d1_databases]]
binding = "DB"
database_name = "rocha-brindes-db"
database_id = "642b162f-746c-4851-a32e-fce92cb9b822"

[[r2_buckets]]
binding = "IMAGES"
bucket_name = "rocha-brindes-images"

# Substitua os IDs por dois namespaces diferentes
[[kv_namespaces]]
binding = "CACHE"
id = "8588158aea99464db6bd56cb0ec36c99"

[[kv_namespaces]]
binding = "SESSIONS"
id = "fa6b9f1fe18d466989a2b6e611ca4a84"

[vars]
ENVIRONMENT = "production"
WHATSAPP_NUMBER = "+5589994333316"

[dev]
port = 8787